<div class="container">
  
    <h1>Hero Form</h1>
    <form (ngSubmit)="login()" [formGroup]="form">
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text"  #name formControlName="name" id="name">
              </div>
      <div class="form-group">
        <label for="number">Number</label>
        <input type="number"  id="number" #number formControlName="number" maxlength="10">
      </div>
 
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email"  #email formControlName="email">
      </div>

      <div class="form-group">
          <label for="income">income</label>
          <input type="number"  id="income" #income formControlName="income">
      </div>
      <button type="submit"> Submit </button>
     <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">
        Submit</button> 
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">
        New Hero</button>-->
    </form>
  </div>

<!--  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div> -->
